.product{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 10
}

.img-box {
  width: 100%;
  height: 220px;           /* SAME height for all */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  aspect-ratio: 1 / 1;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* crops instead of stretching */
}
