.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
    padding: 30px;
    max-width: 1100px;
    margin: auto;
}

.catalog h1 {
  margin-bottom: 2rem;
  grid-column: 1 / -1; /* makes title span full row */
  text-align: center;
  font-size: 2.4rem;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #333;
}

/* Row layout for products */
.products-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    border: 1px solid #000000;
    flex-wrap: wrap; /* allows wrapping on small screens */
}